{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <div>
        {% if current_user.is_authenticated %}
            {{ wtf.quick_form(form) }}
        {% endif %}
    </div>
    {% for post in posts %}
        <table class="table table-hover">
            <tr>
                <td width="70px">
                    <div class="profile-thumbnail">
                        <a href="{{ url_for('auth.user', username=post.author.username) }}">
                            <img class="img-rounded profile-thumbnail"
                                 src="{{ post.author.avatar(70) }}">
                        </a>
                    </div>
                </td>
                <td>
                    <h3>
                        <a href="{{ url_for('auth.user', username=post.author.username) }}">
                            {{ post.author.username }}
                        </a>
                        says:
                    </h3>
                    <br>
                    {{ post.body }}
                </td>
            </tr>
        </table>
    {% endfor %}
    <div style="text-align: center;">
        {% if prev_url %}
        <a href="{{ prev_url }}" class="pagination-link">上一页</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}" class="pagination-link">下一页</a>
        {% endif %}
    </div>
{% endblock %}